services:
  # Base de données MySQL (vodd_db)
  db:
    image: mysql:8.0
    container_name: vodd_db_test
    restart: always
    environment:
      MYSQL_DATABASE: vodd_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"

  # Base de données MongoDB (postersdb)
  postersdb:
    image: mongo:latest
    container_name: mongo_db_posters
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data_mongo:/data/db