@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6; /* Fond gris très clair moderne */
  color: #2c3e50;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Styles globaux pour les boutons et liens */
a { text-decoration: none; transition: 0.3s; }
button { font-family: inherit; transition: all 0.2s ease-in-out; }
